<div id="container">
  <header>
    <img src="assets/imgs/logo.jpg" alt="Sammy C Logo" />
  </header>
  <nav>
    <ul>
      <li><a href="https://soundcloud.com/sammyc407"><img src="assets/imgs/soundcloud.png" alt="Sammy C's Soundcloud" /></a></li>
      <li><a href="https://www.youtube.com/channel/UCLSNxWqWzUlyg9roEwiinBg"><img src="assets/imgs/youtube.png" alt="Sammy C's YouTube" /></a></li>
      <li><a href="https://twitter.com/SammyC407"><img src="assets/imgs/twitter.png" alt="Sammy C's Twitter" /></a></li>
      <li><a href="https://www.instagram.com/sammyc407/"><img src="assets/imgs/instagram.png" alt="Sammy C's Instagram" /></a></li>
      <li><a href="https://www.facebook.com/sammycleavenger"><img src="assets/imgs/facebook.png" alt="Sammy C's Facebook" /></a></li>
    </ul>
  </nav>
  <section id="gallery">
    <img src="assets/imgs/leftArrow.png" width="50" ng-click="scrollGallery(-1)" />
    <img src="assets/imgs/galleryPhoto1.jpg" class="mySlides" />
    <img src="assets/imgs/galleryPhoto2.jpg" class="mySlides" />
    <img src="assets/imgs/galleryPhoto3.jpg" class="mySlides" />
    <img src="assets/imgs/galleryPhoto4.jpg" class="mySlides" />
    <video class="mySlides" controls>
      <source src="assets/imgs/concert.mp4" type="video/mp4">
      <source src="assets/imgs/concert.ogg" type="video/ogg">
      Your browser does not support the video!
    </video>
    <img src="assets/imgs/rightArrow.png" width="50" ng-click="scrollGallery(+1)" />
  </section>
</div>
